<div class="container">
    <div class="content">
        <div class="navbar">
            <app-navbar></app-navbar>
        </div>
        <div class="main_content">
            <div id="about">
                <app-about></app-about> 
            </div>
            <div id="istruzione">
                <app-formazione></app-formazione>
            </div>
            <div id="skills">
                <app-skill></app-skill>
            </div>
            <div id="esperienze">
                <app-work-experience></app-work-experience>
            </div>
            <div id="progetti">
                <app-project></app-project>
            </div>
            <div id="contatti">
                <app-contact></app-contact>
            </div>
        </div>
        
    </div>    
</div>
