<div class="about_container">
    <div class="about_container_text">
        <div class="about_container_text_title">
            <h2>Ciao, sono Luca</h2>
            <h6>Software Developer, Full Stack Developer</h6>
        </div>
        <div class="about_container_text_info">
            <p>Laureato alla triennale di Ingegneria informatica all'università di Bologna e al momento frequento l'ultimo anno della magistrale di Ingegneria informatica
                sempre all'università di Bologna. </p>
            <p>Ho svolto un periodo di attività lavorativa post tirocinio triennale come Full Stack Developer lavorando principalmente con PHP e il framework Angular.</p>
            
        </div>
    </div>
    <div class="about_container_img">
        <img class="img" src="../../assets/image/img.jpeg" alt="About image">
    </div>
</div>
<!--
<div class="wrapper">
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
-->