<div class="about_container">
    <div class="about_container_text">
        <div class="about_container_text_title">
            <h2>Ciao, sono Luca</h2>
            <h6>Software Developer, Web Developer</h6>
        </div>
        <div class="about_container_text_info">
            <p>Laureato in Ingegneria informatica all'università di Bologna, in cerca di occupazione al
                termine del corso di laurea magistrale, ho svolto un periodo di attività lavorativa post
                tirocinio.</p>
            <p>Il mio obiettivo al momento sarebbe quello di farmi conoscere e illustrare le mie conoscenze
                in prospettiva di un completo inserimento nel mondo del lavoro.</p>
            <p>Mi piace lavorare in squadra e grazie al percorso universitario ho avuto esperienze di lavoro
                e di realizzazione di progetti in team.</p>
        </div>
    </div>
    <div class="about_container_img">
        <img class="img" src="../../assets/image/img.jpeg" alt="About image">
    </div>
</div>
<!--
<div class="wrapper">
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
-->