.about_container{
    display: flex;
    color: white;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
}

.about_container_text{
    text-align: left;
    width: 70%;
}

.about_container_text_info{
    width: 65%;
}

.about_container_img{
    margin-top: 30px;
    width: 35%;
    text-align: center;
}

.img{
    height: auto;
    max-height: 500px;
    width: auto;
    max-width: 100%;
}

h2{
    font-size: 40px;
    font-weight: 800;
    color: #fffef9;
    letter-spacing: 1.5px;
}

h6{
    font-size: 20px;
    margin: -15px 0 50px 0;
    opacity: 1;
    /*color: #96a1c0;*/
    color: #e06f58; /*#762efd; /*#6919ff*/
    letter-spacing: 1.5px;
}

p{
    font-weight: 500;
    letter-spacing: 1.2px;
    color: white; /* rgba(203, 198, 192);*/
    font-size: 20px;
    padding: 3px 0;
    
}


@media screen and (max-width: 800px){

    .about_container_text, .about_container_text_info{
        width: 100% !important;
    }

    .about_container_img{
        width: 100% !important;
        text-align: center;
    }

    .about_container{
        flex-wrap: wrap;
        margin: 10px 0 !important;
    }

    .img{
        height: 400px;
        width: auto;
    }

}