
<div class="navbar" id="navbar">
    <nav class="menu">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#istruzione">Istruzione</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#esperienze">Esperienze</a></li>
            <li><a href="#progetti">Progetti</a></li>
            <li><a href="#contatti">Contatti</a></li>
        </ul>
    </nav>
</div>
<div class="x_btn" id="x_btn" (click)="close()">
</div>
<div class="hamburger" id="hamburger" (click)="open()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>