
<div class="navbar" id="navbar">
    <nav class="menu">
        <ul>
            <li><a href="#about" (click)="close()">About</a></li>
            <li><a href="#istruzione" (click)="close()">Istruzione</a></li>
            <li><a href="#skills" (click)="close()">Skills</a></li>
            <li><a href="#esperienze" (click)="close()">Esperienze</a></li>
            <li><a href="#progetti" (click)="close()">Progetti</a></li>
            <li><a href="#contatti" (click)="close()">Contatti</a></li>
        </ul>
    </nav>
</div>
<div class="x_btn" id="x_btn" (click)="close()">
</div>
<div class="hamburger" id="hamburger" (click)="open()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>