
<div class="navbar" id="navbar">
    <nav class="menu">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#istruzione">Istruzione</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#esperienze">Esperienze</a></li>
            <li><a href="#progetti">Progetti</a></li>
            <li><a href="#contatti">Contatti</a></li>
        </ul>
    </nav>
</div>
<div class="x_btn" id="x_btn" (click)="close()">
</div>
<div class="hamburger" id="hamburger" (click)="open()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>


<!--

<div class="content">
    <div class="blocco" id="about">
        <app-about></app-about>
    </div>
    <div class="blocco" id="istruzione">
        <app-formazione></app-formazione>
    </div>
    <div class="blocco" id="conoscenze">
        <app-skill></app-skill>
    </div>
    <div class="blocco" id="esperienze">
        <app-work-experience></app-work-experience>
    </div>
    <div class="blocco" id="progetti">
        <app-project></app-project>
    </div>
    <div class="blocco" id="contatti">
        <app-contact></app-contact>
    </div>
</div>
-->