.icon{
    font-size: 60px;
}

a{
    text-decoration: none;
    color: white;
}

.contatti_content_icons{
    display: flex;
    gap: 20px;
}

h2{
    font-size: 40px;
    font-weight: 800;
    color: #fffef9;
    letter-spacing: 1.5px;
}