.skill_container{
    text-align: left;
}

.skill_container_content{
    display: flex;
    align-items: center;
}

.skill_container_icons{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    margin: 30px 50px 10px 0px;
    width: 50%;
}

.skill_container_icons_2{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    margin: 30px 50px 10px 0px;
    justify-content: space-around;
}


.skill_container_text{
    width: 50%;
}


.icon{
    font-size: 80px;
}

p{
    width: fit-content;
    margin-left: 20px;
}

h5{
    font-size: 14px;
    height:5px;
}

h2{
    font-size: 40px;
    font-weight: 800;
    
    letter-spacing: 1.5px;
    /*color: #ff7a5f;*/
}

span{
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 25px;
}

@media screen and (max-width: 768px){
    .skill_container_icons{
        margin: 20px 0px 0px 0px !important;
        width: 100% !important;
        gap: 30px;
    }

    .skill_container_box{
        margin: auto !important;
    }


    .skill_container_text{
        width: 100% !important;
    }

    .skill_container_content{
        flex-wrap: wrap-reverse;
    }

    .icon{
        font-size: 60px;
    }

    .skill_container_icons_2{
        gap: 15px !important;
        margin: 20px 0px 0px 0px !important;
    }

    .skill_container_box{
        padding: 0px !important;
        width: 140px !important;
        height: 140px !important;
        transition: none !important;
    }

    .icon{
        font-size: 70px !important;
    }

    h5{
        font-size: 14px;
        height: 1px !important;
    }

}

.skill_container_icon{
    margin: auto;
}

.skill_container_box{
    transition: transform .4s ease 0s !important;
    display: flex;
    justify-content: center !important;
    align-items:center !important;
    border: 2px solid #fa8d7797;
    width: 160px;
    height: 160px;
    padding: 5px;
    box-shadow: rgba(197, 85, 5, 0.14) 4px 5px 4px 3px;
}

.skill_container_box:hover{
    transform: scale(1.05) !important;
}