<div class="skill_container">
    <div class="title_section_div"> <!-- align-items: flex-end;-->
        <div class="block"></div>
        <h2>Skills</h2>
    </div>

    <!--
    
    <div class="skill_container_content">
        <div class="skill_container_icons">
            <div class="skill_container_box">
                <div class="skill_container_icon" style="vertical-align: middle;">
                    <i class="devicon-java-plain icon"></i>
                    <h5>Java</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-c-plain icon"></i>
                    <h5>C</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-gradle-plain icon"></i>
                    <h5>Gradle</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-html5-plain icon"></i>
                    <h5>Html</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-css3-plain icon"></i>
                    <h5>Css</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-javascript-plain icon"></i>
                    <h5>JavaScript</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-angularjs-plain icon"></i>
                    <h5>Angular</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-php-plain icon"></i>
                    <h5>PHP</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-laravel-plain icon"></i>
                    <h5>Laravel</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-spring-original icon"></i>
                    <h5>Spring</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-mysql-plain icon"></i>
                    <h5>Mysql</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-python-plain icon"></i>
                    <h5>Python</h5>
                </div>
            </div>
            <div class="skill_container_box">
                <div class="skill_container_icon">
                    <i class="devicon-docker-plain icon"></i>
                    <h5>Docker</h5>
                </div>
            </div>
        </div>
        <div class="skill_container_text">
            <span>Durante il percorso universitario ho avuto modo di utlizzare differenti linguaggi e tecnologie. Tra
                questi troviamo: C, Java, Spring, JavaScript e HTML/CSS, SQL per la gestione dei DB. Grazie
                all'esperienza lavorativa ho avuto modo di utilizzare anche il linguaggio PHP, lavorando anche con il
                framework Laravel (sul quale ho poi incentrato il mio lavoro di tesi triennale), e il framework Angular.
            </span>
        </div>
        
    </div>

    <br>
    OPPURE NO TESTO
    <br>
    -->

    <div class="skill_container_icons_2">

        <div *ngFor="let skill of skills" class="skill_container_box">
            <div class="skill_container_icon">
                <i class="{{skill?.iconClass}} icon"></i>
                <h5>{{skill?.name}}</h5>
            </div>
        </div>

        <!--
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-html5-plain icon"></i>
                <h5>Html</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-css3-plain icon"></i>
                <h5>Css</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-javascript-plain icon"></i>
                <h5>JavaScript</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-angularjs-plain icon"></i>
                <h5>Angular</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon" style="vertical-align: middle;">
                <i class="devicon-java-plain icon"></i>
                <h5>Java</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-spring-original icon"></i>
                <h5>Spring</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-gradle-plain icon"></i>
                <h5>Gradle</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-php-plain icon"></i>
                <h5>PHP</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-laravel-plain icon"></i>
                <h5>Laravel</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-python-plain icon"></i>
                <h5>Python</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-tensorflow-original icon"></i>
                <h5>Tensorflow</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-c-plain icon"></i>
                <h5>C</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-mysql-plain icon"></i>
                <h5>Mysql</h5>
            </div>
        </div>
        <div class="skill_container_box">
            <div class="skill_container_icon">
                <i class="devicon-docker-plain icon"></i>
                <h5>Docker</h5>
            </div>
        </div>
        -->
        
    </div>

</div>