<div class="container">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="head">
            <div class="back_img" style="background-image: url('{{img}}')"></div>
            <h3 class="title">{{title}}</h3>
        </div>
        <div class="tag_container">
            @for (t of tag; track $index) {
                <div class="tag">
                    <p>{{t}}</p>
                </div>
            }
        </div>
        <div class="description">
            @for (descr of description; track $index) {
                <p>{{descr}}</p>
            }
        </div>
        <div class="btn_div">
            <button class="btn" (click)="openGithub()">
                <fa-icon [icon]="faGithub" class="fa-xl" style="margin-right: 10px;"></fa-icon>Github
            </button>
        </div>
        
    </div>
</div>
