<div class="work_container">
    <h2>Esperienze lavorative</h2>
    <div class="work_container_content">
        <div class="work_container_content_title">
            <span class="span_title">Web Developer presso Ciollo Service s.r.l</span> <span class="span_period"> | Bologna (BO), Settembre 2022 - Marzo 2023</span>
        </div>
        <div class="work_container_content_subtitle">
            <span class="span_subtitle">Programmazione Web con PHP, utilizzo del framework Angular</span>
        </div>
    </div>
    <div class="separator"></div>
    <div class="work_container_content second">
        <div class="work_container_content_title">
            <span class="span_title">Tirocinio curricolare presso Ciollo Service s.r.l</span> <span class="span_period"> | Bologna (BO), Giugno 2022 - Luglio 2022</span>
        </div>
        <div class="work_container_content_subtitle">
            <span class="span_subtitle">Programmazione Web con PHP</span>
        </div>
    </div>
</div>
