.span_period{
    color: #e06f58; /* #762efd; /*#6919ff #762dff;*/
    opacity: .8;
    font-size: 16px;
}

h2{
    font-size: 40px;
    font-weight: 800;
    color: #fffef9;
    letter-spacing: 1.5px;
    color: #ff7a5f;
}

.span_title{

    font-size: 23px;
    font-weight: 700;

}

.work_container_content_title{
    padding: 18px 0;
}

.span_subtitle{

    font-size: 18px;
    font-weight: 500;

}

.span_period{
    color: #e06f58; /* #762efd; /*#6919ff #762dff;*/
    opacity: .8;
    font-size: 16px;
}


span, h2{
    letter-spacing: 1.5px;
}

.separator{
    margin: 25px 0;
    width: 100%;
    border: 1px solid #e06f58; /* #762dff*/;
    opacity: .3;
}