<div class="work_container">
    <div class="title_section_div"> <!-- align-items: flex-end;-->
        <div class="block"></div>
        <h2>Esperienze lavorative</h2>
    </div>
    <div *ngFor="let work of works; index as i;">
        <div class="work_container_content">
            <div class="work_container_content_title">
                <span class="span_title">{{work.title}}</span> <span class="span_period"> | {{work.period}}</span>
            </div>
            <div class="work_container_content_subtitle">
                <span class="span_subtitle">{{work.description}}</span>
            </div>
        </div>
        <div *ngIf="i<length" class="separator"></div>
    </div>
</div>
