.span_period{
    color: #762efd; /*#6919ff #762dff;*/
    opacity: .8;
    font-size: 16px;
}

h2{
    font-size: 33px;
    font-weight: 800;
}


.span_title{

    font-size: 23px;
    font-weight: 700;

}

.work_container_content_title{
    padding: 18px 0;
}

.span_subtitle{

    font-size: 18px;
    font-weight: 500;

}

.span_period{
    color: #762dff;
    opacity: .8;
    font-size: 16px;
}


span, h2{
    letter-spacing: 1.5px;
}

.separator{
    margin: 25px 0;
    width: 100%;
    border: #762dff 1px solid;
    opacity: .3;
}