<div class="project_container">
    <h2>Progetti</h2>
    <div class="project_container_content">
        <div class="grid">
            <div class="card">
                <div class="card_head">
                    <div class="card-bg coldstorage"></div>
                    <h3 class="card_title">ColdStorageService</h3>
                    <div class="card_tag_container">
                        <div class="tag bg-orange"><p>Kotlin</p>
                        </div>
                        <div class="tag"><p>Spring</p>
                        </div>
                        <div class="tag bg-yellow"><p>Python</p>
                        </div>
                        <div class="tag bg-blue"><p>Docker</p>
                        </div>
                    </div>
                </div>
                <div class="card_description">
                    <p>ColdStorageService è un sistema distribuito per la raccolta di merce scaricata da truck e che deve essere rilasciata su una cella frigorigera.</p>
                    <p>Tale progetto è stato realizzato per l'esame di Ingegneria dei sistemi Software.</p>
                </div>
                <div class="card_button">
                    <input type="button" value="Più info" class="btn">
                </div>
            </div>
            <div class="card">
                <div class="card_head">
                    <div class="card-bg fake-api"></div>
                    <h3 class="card_title">Fake server API</h3>
                    <div class="card_tag_container">
                        <div class="tag bg-yellow"><p>Python</p>
                        </div>
                        <div class="tag bg-blue"><p>Docker</p>
                        </div>
                    </div>
                </div>
                <div class="card_description">
                    <p>L'obiettivo del progetto era quello di realizzare un fake API server da affiancare ad una risorsa reale per aumentare il livello di sicurezza.</p>
                    <p>Tale progetto è stato realizzato per l'esame di Cybersecurity.</p>
                </div>
                <div class="card_button">
                    <input type="button" value="Vedi su github" class="btn">
                </div>
            </div>
           
        </div>
        
    </div>
</div>
