/* You can add global styles to this file, and also import other style files */
body{
    background-color:#1d1e26; /* #191b25; #060918; #1d1e26 */ 
    color: white;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.projects_h2{
    font-size: 40px;
    font-weight: 800;
    color: #ffffff; 
    letter-spacing: 1.5px;
    /*color: #ff7a5f;*/
}


h2{
    font-size: 38px !important;
    font-weight: 600 !important;
    /*color: #fffef9;
    letter-spacing: 1.5px;*/
    color: #ffffff !important; /*#ff7a5f;*/
}

.about_span{
    color: #ff876f !important;
    
}  

.title_section_div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.block{
    width: 10px;
    height: 70px; /*55px;*/
    background-color: #ff7a5f;
}

.footer{
    display: block;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: 0;
    -webkit-box-shadow: 0px -10px 29px 0px #000000;
    -moz-box-shadow: 0px -10px 29px 0px #000000;
    -o-box-shadow: 0px -10px 29px 0px #000000;
    box-shadow: 0px -10px 29px 0px #000000;
    margin: 50px 0px 0px 0px;
}

.footer > p{
    padding-top: 15px;
}
 